<section class="bg-gray-50 dark:bg-gray-900 h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="assets/images/ailift-logo.png"
        alt="logo"
      />
      AILift
    </a>
    <div
      [formGroup]="signUpForm"
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Create an account
        </h1>
        <div class="space-y-4 md:space-y-6">
          <div>
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your name</label
            >
            <input
              type="text"
              name="username"
              id="username"
              formControlName="username"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Jhon Doe"
              required=""
            />
            <div
              *ngIf="
                signUpForm.get('username')?.invalid &&
                (signUpForm.get('username')?.dirty ||
                  signUpForm.get('username')?.touched)
              "
            >
              <p
                *ngIf="signUpForm.get('username')?.errors?.['required']"
                class="text-red-500"
              >
                Username is required.
              </p>
              <p
                *ngIf="signUpForm.get('username')?.errors?.['minlength']"
                class="text-red-500"
              >
                Username must be at least 3 characters long.
              </p>
            </div>
          </div>

          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com"
              required=""
            />
            <div
              *ngIf="
                signUpForm.get('email')?.touched &&
                signUpForm.get('email')?.errors
              "
            >
              <p
                *ngIf="signUpForm.get('email')?.errors?.['required']"
                class="text-red-500"
              >
                Email is required.
              </p>
              <p
                *ngIf="signUpForm.get('email')?.errors?.['email']"
                class="text-red-500"
              >
                Please enter a valid email address.
              </p>
            </div>
          </div>
          <div>
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Description (Optional)</label
            >
            <input
              type="text"
              name="description"
              id="description"
              formControlName="description"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Description"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
            <div
              *ngIf="
                signUpForm.get('password')?.touched &&
                signUpForm.get('password')?.errors
              "
            >
              <p
                *ngIf="signUpForm.get('password')?.errors?.['required']"
                class="text-red-500"
              >
                Password is required.
              </p>
              <p
                *ngIf="signUpForm.get('password')?.errors?.['minlength']"
                class="text-red-500"
              >
                Password must be at least 8 characters long.
              </p>
              <p
                *ngIf="signUpForm.get('password')?.errors?.['passwordStrength']"
                class="text-red-500"
              >
                Password must include at least one uppercase letter, one
                lowercase letter, one number, and one special character.
              </p>
            </div>
            <p class="mt-2 text-sm font-light text-gray-700 dark:text-white">
              Include a capital letter, number, and special character
            </p>
          </div>
          <button
            type="submit"
            (click)="signup()"
            class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
          >
            Create an account
          </button>
          <p class="text-sm font-light text-gray-700 dark:text-white">
            Already have an account?
            <a
              class="font-medium text-sky-600 hover:underline dark:text-sky-500 c-pointer"
              (click)="backToLogin()"
              >Login here</a
            >
          </p>
          <p class="text-sm font-light text-gray-700 dark:text-white">
            Check your email in
            <a
              href="http://localhost:8025"
              target="_blank"
              class="font-medium text-sky-600 hover:underline dark:text-sky-500 c-pointer"
              >MailHog</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
